extends layout.pug

block content
    h2 #{user.userName}'s Answers:
    if answers && answers.length > 0
        table
            thead(class='thead-dark')
                tr
                th Question
                th My Answer
            tbody
                each answer in answers
                    tr
                        td= questions[answer.questionId]
                        td= answer.content
    else
        h2 No answers yet :3
