extends layout.pug

block content
  h3= answer.content
  div
    p Proceed with deleting this Answer?
  div
    form(action=`/users/answers/delete/${answer.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(type='submit') Delete Answer
      a(ref='/users/answers' role='button') Cancel
