extends layout.pug

include utils

block content
    +validationErrorSummary(errors)
    .create-question-form
        form(action=`/questions/${question.id}` method='post')
            input(type="hidden" name="_csrf" value=csrfToken)
            .question-input
                label Title:
                input(type='text' name= 'title' value= `${question.title}` id="question-input")
            .question-content
                label
                textarea(name= 'content' id="question-content")= question.content
            .question-form-button
                button Submit
