extends layout.pug

block content
    .page-container 
        .post-display
            .question-text
                each question in questions
                    h1= question.title 
                    p= question.content 
                //- if locals.user.id === question.userId 
                //-     form(action=`/questions/${question.id}` method='post')
                //-         input(type="hidden" name="_csrf" value=csrfToken)
                //-         button(class="delete-button-post" type="submit") Delete
                //-         button(class="edit-button-post" type="submit") Edit


