extends layout.pug 

include utils

block content
    +validationErrorSummary(errors)
    .create-question-form
        form(action="/questions" method='post')
            input(type="hidden" name="_csrf" value=csrfToken)
            .question-input
                label Title
                input(type="text" name= 'title')
            .question-content        
                label Content
                textarea(name= 'content')
            .question-form-button 
                button Submit
