extends layout.pug

include utils.pug

block content
    h2 Topics
    .topic-container
        ul
            each topic in topics
                li
                    a(href=`/topics/${topic.id}`)= topic.title
    .new-question-button
        a(href='/questions/new')
              button(class= 'nav-button right') Ask A Question
    h2 Questions
    .question-container
        ul(style="list-style: none")
            each question in questions
                .q-container
                    li
                        p(class="post-username")= `${question.User.userName}`
                        a(href=`/questions/${question.id}` class="question-title")= question.title
                        +addAnswer(`${question.id}`, csrfToken)
                    br
