extends layout.pug 

include utils

block content
    +validationErrorSummary(errors)
    .create-question-form
        form(action="/questions" method='post')
            input(type="hidden" name="_csrf" value=csrfToken)
            .question-input
                label Title
                input(type="text" name= 'title')
            .question-content        
                label Content
                textarea(name= 'content')
            div(class= "add-topic-question")
                select(name='topicId')
                    each topic in topics
                        option(value=topic.id) #{topic.title}
            .question-form-button 
                button Submit