extends layout.pug

block content
    h2 Topics
    .topic-container
        ul
            each topic in topics
                li
                    a(href=`/topics/${topic.id}`)= topic.title
    if locals.authenticated
        a(href='/topics/new')
                button(class= 'nav-button right') Add Topic
