extends layout.pug

include utils.pug

block content
  div(class= 'signup-form')
    +validationErrorSummary(errors)
    form(action='/users/signup' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      .sign-up-element
        +field('First Name: ', 'firstName', user.firstName)
      .sign-up-element
        +field('Last Name: ', 'lastName', user.lastName)
      .sign-up-element
        +field('Username: ', 'userName', user.userName)
      .sign-up-element
        +field('Favorite Food: ', 'favFood', user.favFood)
      .sign-up-element
        +field('Email Address: ', 'email', user.email)
      .sign-up-element
        +field('Password: ', 'password', '', 'password')
      .sign-up-element
        +field('Confirm Password: ', 'confirmPassword', '', 'password')
      div(class="sign-up-button-container")
        button(type='submit' class="sign-up-button nav-button") Signup
        a(href='/' class="login-link") Cancel
    div
      p: a(href='/users/login' class="login-link") Already have an account?
