extends layout.pug

include utils.pug

block content
  .login-container
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email Address', 'email', email)
      +field('Password', 'password', null, 'password')
      div(class="login-button")
        button(type='submit') Login
        a(href='/') Cancel
    div(class="login-link")
      p: a(href='/users/signup') Don't have an account?
      div
        p: a(href="/users/demo") Demo Log-in
