h1 {
    color: #555555;
}
a:link {
    text-decoration: none;
  }
body{
    background-color: rgb(241,242,242);
}
#nav-bar {
    height: 60px;
    width: 100%;
    background-color:rgb(255,255,255);
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.364);
    box-shadow:0px 1px 1px black
}
.picture-logo{
    height: 100%;
}

.nav-login-signout{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    align-items: center;
}
.nav-login-signout{
    display: flex;
}
.nav-button{
    border-color: rgb(185, 43, 39);
    background-color: rgb(185, 43, 39);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color:white;
    justify-content: space-evenly;
}
.nav-button.right{
    margin-left: 20px;
}

.questions-details-container{
    display: flex;
}
.topic-container{
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 100px;
    width: 150px;
    display:flex;
    flex-direction: column;
}

.topic-ul-container {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}

.topics-li-containers{
    border: 1px solid none;
    border-radius: 5px;
    padding: 10px 0px;
    padding-left: 10px;
}
.topics-li-containers:hover{
    background-color: rgba(0, 0, 0, 0.100);
}

.question-container{
    width: 600px;

    margin-right: 20%;
    margin-top: 100px;
    display:flex;
    flex-direction: column;
}
.q-containers{
    border: black solid 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}
.question-ul-container{
    list-style-type: none;
    padding: 0px;

}

.questions-collection-conntent{
    font-size: 15px;
}


.signup-form{
    width: 500px;
    margin-top: 50px;
    margin-left: 37%;
    padding-top: 15px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-modal {
    z-index: 2;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black 5px;
    border-radius: 15px
}

/* 
.confirm-modal-overlay {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

textarea {
    background-color: #dddddd;
    color:#666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: Helvetica;
    font-weight: 500;
    font-size:12px;
    line-height: 1.4;
    width: 200px;
    height: 100px;
    transition: all 0.2s;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.submit-comment-container{
    display: none
}

.questions-details-container{
    background-color: rgb(241,242,242);
}