h1 {
    color: #555555;
}
a:link {
    text-decoration: none;
  }
body{
    background-color: rgb(241,242,242);
}
#nav-bar {
    height: 60px;
    width: 100%;
    background-color:rgb(255,255,255);
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.364);
    box-shadow:0px 1px 1px black
}
.picture-logo{
    height: 100%;
}

.nav-login-signout{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    align-items: center;
}
.nav-login-signout{
    display: flex;
}
.nav-button{
    border-color: rgb(185, 43, 39);
    background-color: rgb(185, 43, 39);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color:white;
    justify-content: space-evenly;
}
.nav-button.right{
    margin-left: 20px;
}

.questions-details-container{
    display: flex;
    margin: auto;
}
.topic-container{
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 100px;
    width: 150px;
    display:flex;
    flex-direction: column;
}

.topic-ul-container {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}

.topics-li-containers{
    border: 1px solid none;
    border-radius: 5px;
    padding: 10px 0px;
    padding-left: 10px;
}
.topics-li-containers:hover{
    background-color: rgba(0, 0, 0, 0.100);
}

.question-container{
    width: 600px;
    margin-right: 20%;
    margin-top: 100px;
    display:flex;
    flex-direction: column;
}
.q-containers{
    background-color: white;
    width: 550px;
    border: black solid 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

.q-containers:hover {
    background-color: rgb(238, 238, 238);
}

.question-ul-container{
    list-style-type: none;
    padding: 0px;

}

.questions-collection-conntent{
    font-size: 15px;
}


.signup-form{
    width: 500px;
    margin-top: 50px;
    margin-left: 37%;
    padding-top: 15px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.confirm-modal {
    z-index: 2;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: lightblue;
    transform: translate(-50%, -50%);
    border: solid black 5px;
    border-radius: 15px
}

/*
.confirm-modal-overlay {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

textarea {
    background-color: #dddddd;
    color:#666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: Helvetica;
    font-weight: 500;
    font-size:12px;
    line-height: 1.4;
    width: 400px;
    height: 200px;
    transition: all 0.2s;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.submit-comment-container{
    display: none
}

.questions-details-container{
    background-color: rgb(241,242,242);
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: black;
}

a {
    color: inherit;
}

.topics-li-containers a {
    color: rgb(104, 104, 104);
}

.login-link {
    color: blue;
    margin: 10px;
}

.login-container {
    width: 500px;
    margin-top: 50px;
    margin-left: 37%;
    padding-top: 15px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sign-up-element {
    padding: 8px;
}

fieldset{
    background-color: #f1f1f1;
    margin-bottom: 12px;
    overflow: hidden;
}

label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}

input{
    font-size: inherit;
}


.sign-up-button-container{
    display: flex;
    justify-content: center;
}

.errors-list {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: rgb(245, 202, 202, 0.5);
}

.create-question-form {
    height: 400px;
    width: 500px;
    margin-top: 50px;
    margin-left: 37%;
    padding-top: 15px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.question-form-button {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

#question-input {
    width: 270px;
}

.create-question-form label {
    display: flex;
    justify-content: left;
}

.page-container {
    display: flex;
    justify-content: center;
}

/* .post-display {
    background-color: white;
    width: 550px;
    border: black solid 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
} */

#user-name {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

.question-container-detail {
    background-color: white;
    width: 550px;
    border: black solid 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

.question-answer-details {
    background-color: white;
    width: 550px;
    border: black solid 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

.login-button{
    display: flex;
    justify-content: end;
}